.lista-vagas {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lista-vagas li {
    background-color: #BBD8A3;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.lista-vagas li strong {
    color: #333;
    font-size: 25px;
}

.lista-vagas li p {
    font-size: 20px;
    color: #555454;
    margin: 5px 0;
}

.pesquisa-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 5px;
    background-color: #000000;
    border-radius: 10px;
}

.pesquisa-container input {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border: 1px solid #ccc;
}

.remover-btn {
    background-color: #000000; 
    color: white;
    border: none;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; 
    top: 10px;
    right: 10px;
    width: auto; 
}

.remover-btn:hover {
    background-color: #881104; 
}

.mensagem-vazia {
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: 30px auto;
    font-size: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }  

.pesquisa-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 5px;
    background-color: #000000;
    border-radius: 10px;
}

.pesquisa-container input {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border: 1px solid #ccc;
}

.vaga-item {
    text-align: center;
    font-size: 30px;
}